footer.footer
  p.text-center
    | EasyPoll, a challenge for 
    a(href="http://www.freecodecamp.com", target="_blank") Free Code Camp, 
    | by CraneWing, 2016. Repo: 
    span
      a(href="https://github.com/CraneWing/easy-poll" target="_blank")
        i.fa.fa-github