extends layout

block content
  .row
    .col-md-9.col-md-offset-2
      h1.highlight EasyPoll 
        span
          i.fa.fa-pencil
      p Where you can participate in a variety of polls and even create some of your own!
      
      p Unregistered users may browse polls and cast votes. By registering you can not only partcipate in polls, but can create, edit and delete your own.