extends ../../views/layout_manage

block content
  .row
    .col-md-9.col-md-offset-2
      h1= title
      form(action="/manage/poll/#{poll._id}/delete" method="post")
        h4 Poll Title: #{poll.poll_title}
        p Are you sure you want to delete this poll?
        p 
          button.btn.btn-danger Delete
          &nbsp;
          a.btn.btn-warning(href="/manage") Cancel

      
        