extends ../../views/layout

block content
  .row
    .col-md-9.col-md-offset-2
      h1.highlight= title
      ul.list-group
      if (polls.length == 0)
        p
          | No polls yet. Be the first to add one! You must 
          a(href='/users/login') login
          |  or 
          a(href='/users/register') register
          |  before adding polls.
      else
        ul
          each poll, i in polls
            li.list-group-item.poll
              a(href='/polls/' + poll._id) #{poll.poll_title}
        