extends ../../views/layout

block content
  .row
    .col-md-9.col-md-offset-2
      h1= title
      div.errors
        if errors
          ul.alert.alert-danger
            each error, i in errors
              li #{error.msg}
      form(method="post" action="/polls/new")
        .form-group
          label Title
          input.form-control(type="text" name="poll_title")
        .form-group
          label Poll Question
          input.form-control(type="text" name="question")
        .form-group
          label Poll Responses (separate each item with semicolon(;))
          textarea.form-control(name="choices", rows="6")
        .form-group
          button.btn.btn-default Add Poll