extends ../../views/layout

block content
  .row
    .col-md-9.col-md-offset-2
      h1.highlight= title
      p Login with Twitter.
      ul.social-list 
        li 
          a(href='/users/auth/twitter')
            i.fa.fa-twitter-square.fa-4x
      .clearfix
      p Or use form below if you signed up directly through the site.
      form.form-signin(method="post" action="/users/login")
        .form-group
          label Username (use email)
          input.form-control(type="text" name="username")
        .form-group
          label Password
          input.form-control(type="password" name="password")
        .form-group
          button.btn.btn-default Login
      p
        | You need an account if you want to both vote in and create polls. If you don't want to use Twitter, go   
        a(href='/users/register') here
        | to register.
