extends ../../views/layout

block content
  .row
    .col-md-9.col-md-offset-2
      h1.highlight= title
      form.form-signin(method="post" action="/users/register")
        .form-group
          label Name
          input.form-control(type="text" name="name")
        .form-group
          label Username (use your email)
          input.form-control(type="text" name="username")
        .form-group
          label Password
          input.form-control(type="password" name="password")
        .form-group
          button.btn.btn-default Register
      p
        | Click
        a(href='users/login')  here
        |  to login if you already registered, or want to login with Twitter.
