extends ../../views/layout

block content
  .row
    .col-md-9.col-md-offset-2
      h1.highlight= title
      form.form-signin(method="post" action="/users/register")
        .form-group
          label Username 
          input.form-control(type="text" name="username")
        .form-group
          label Password
          input.form-control(type="password" name="password")
        .form-group
          button.btn.btn-default Register
      p
        | Already have an account? Click
        a(href='/login')  here
        |  to login.
