extends ../../views/layout

block content
  .row
    .col-md-9.col-md-offset-2
      h1.highlight= title
        ul
          li
            strong Display Name
            | #{currentUser.twitter.displayName}
          li
            strong Username
            | #{currentUser.twitter.username}
            
