.navbar.navbar-static.navbar-default
  .container
    .navbar-header
      button.navbar-toggle.collapse(type="button")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/manage') EasyPoll 
        span
          i.fa.fa-pencil
        span.admin
          | USER ADMIN
    ul.nav.navbar-right.navbar-nav
      li.dropdown
        a.dropdown-toggle(href='#', data-toggle='dropdown')
          span #{currentUser.local.displayName || currentUser.twitter.displayName}
          i.fa.fa-user 
          i.fa.fa-chevron-down
        ul.dropdown-menu
          li
            a(href='/manage') DASHBOARD
          li
            a(href='/') MAIN SITE
          li
            a(href='/users/logout') LOGOUT
   